<div class="container">
  <div class="row justify-content-center my-5">
    <form action="/restaurants" method="POST">
      <div class="form-group">
        <label>Restaurant name</label>
        <input type="text" placeholder="name" name="name">
        <small class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label>Restaurant category</label>
        <input type="text" placeholder="category" name="category">
        <small class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label>Restaurant image</label>
        <input type="text" placeholder="image" name="image">
        <small class="form-text text-muted">please input url</small>
      </div>
      <div class="form-group">
        <label>Restaurant location</label>
        <input type="text" placeholder="location" name="location">
        <small class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label>Restaurant phone</label>
        <input type="text" placeholder="phone" name="phone">
        <small class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label>Restaurant rating</label>
        <input type="text" placeholder="rating" name="rating">
        <small class="form-text text-muted">please input number</small>
      </div>
      <div class="form-group">
        <label>Restaurant description</label>
        <input type="text" placeholder="description" name="description">
        <small class="form-text text-muted"></small>
      </div>
      <button type="submit">Create</button>
    </form>
  </div>

</div>